p {
  background-color: pink;
  font-family: Verdana, sans-serif, "DejaVu Sans";
  font-size: 24px;
}

.title {
  color: blue;
  font-size: 36px;
}

#numb4 {
  background-color: lightgreen;
  font-size: 24px;
  font-weight: bold;
}
